*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.log
outbox

outbox
workaround/
outcome/


.gradle
.project
.classpath
.settings
bin
build
.error


z1.xml
z2.xml
z3.xml
/gc.log.0.current
*.iml
.idea