<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property scope="context" name="pattern_stdout"
		value="%highlight(%.-5level)|%green(%date{yyyy-MM-dd HH:mm:ss.SSS})|%boldMagenta([%thread])|%yellow(%logger{70}:%boldYellow(%line)) - %msg%n%red(%rEx)" />
	<property scope="context" name="pattern_log" value="%-4relative [%thread] %-5level %logger{35} - %msg %n"/>
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
	<timestamp key="bySecond" datePattern="yyyyMMdd"/>
	
		<resetJUL>true</resetJUL>
	</contextListener>
	
	<consolePlugin />
	<jmxConfigurator />
	<withJansi>false</withJansi>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<pattern>${pattern_log}</pattern>
			<pattern></pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>ccpMicroservice.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>ccpMicroservice.%d{yyyyMMdd}.log
            </fileNamePattern>
        </rollingPolicy>
		<append>false</append>
		<encoder>
            <pattern>${pattern_log}</pattern>
        </encoder>		
	</appender>
	
     <appender name="ASYNC_500_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
      </appender>
      
      
     
  <appender name="SMTP" class="ch.qos.logback.classic.net.SMTPAppender">
    <layout class="ch.qos.logback.classic.html.HTMLLayout">
      <pattern>%date%level%thread%logger%msg</pattern>
      <throwableRenderer class="ch.qos.logback.classic.html.DefaultThrowableRenderer" />      
    </layout>
    
    <from>przodownikR1@gmail.com</from>
    <smtpHost>smtp.gmail.com</smtpHost>
    <!--
     <smtpPort>587</smtpPort>
     <STARTTLS>true</STARTTLS>
    -->
    <smtpPort>465</smtpPort>
    <SSL>true</SSL>
    <username>przodownikR1@gmail.com</username>
    <password></password>
    <subject>CCP CONNECTOR ERROR : %logger{20} - %m</subject>
    <to>slawek.borowiec@riscosoftware.pl</to>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
      <bufferSize>1</bufferSize>
    </cyclicBufferTracker>
    
  </appender>

	<logger name="pl.java.riscosoftware" level="info" />
	<logger name="org.springframework" level="warn" />
	<logger name="ccpCamel" level="info"  />
	<logger name="ccpCamelError" level="error"  />
    <logger name="org.apache.camel" level="info" />
    <logger name="org.apache.cxf" level="warn" />
    <logger name="org.springframework.data" level="warn" />
	
    <root>
     <level value="OFF" />
     <appender-ref ref="console" />
    <appender-ref ref="FILE" /> 
     <!-- <appender-ref ref="SMTP" /> -->
   </root>
   
</configuration>