<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="reverse" class="pl.java.scalatech.Worker"/>
      
	<import resource="classpath:springConfig.xml" />

	<camel:camelContext id="camelContext" trace="true" useMDCLogging="true">
		<camel:consumerTemplate id="consumer" camelContextId="camelContext" />
		<camel:template id="producer" camelContextId="camelContext" />

		<camel:route id="in">
			<camel:from uri="seda:start" />
			<camel:log loggingLevel="INFO" logName="camel"  message="++++  get message from queue => ${body} " />            	
            <camel:to uri="jms://queue:slawek?replyTo=d"/>
		</camel:route>
		
		<camel:route id="out">
			<camel:from uri="jms://queue:slawek?exchangePattern=InOut" />
			<camel:log loggingLevel="INFO" logName="camel"  message="++++  get message from queue => ${header.JMSCorrelationID} ${headers} " />   
			<camel:bean ref="reverse"/>  		
		</camel:route>
	</camel:camelContext>

</beans>